html{
    @include tablet {
        font-size: 15px;
    }
    @include mobile {
        font-size: 14px;
    }
}

body {
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    line-height: 1.6;
    letter-spacing: -0.025em;
    word-break: keep-all;
    color: $color-white;
    background-color: $color-black;
}

:root{
    --gutter-size: 3.75rem;

    @include tablet {
        --gutter-size: 40px;
    }
    @include mobile {
        --gutter-size: 20px;
    }
}

html::-webkit-scrollbar {
    width: 8px;
}
html::-webkit-scrollbar-thumb {
    background-color: #2f3542; 
    border-radius: 10px;
}

.pc-only{
    @include tablet {
        display: none !important;
    }
}

.tb-show{
    display: none !important;
    @include tablet {
        display: block !important;
    }
}

.mo-only{
    display: none !important;
    @include mobile {
        display: block !important;
    }
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    white-space: nowrap;
}

.scroll-lock {
    height: 100%;
    min-height: 100%;
    overflow:hidden;
    touch-action:none;
}

.font-serif {
    font-family: 'HappyTime';
}

.fw-200 {
    font-weight: 200;
}

.fw-600 {
    font-weight: 600;
}