html{
    @include tablet {
        font-size: 15px;
    }
    @include mobile {
        font-size: 14px;
    }
}

body {
    font-family: "Noto Sans KR", sans-serif;
    line-height: 1;
    word-break: keep-all;
}

:root{
    --gutter-size: 3.75rem;
    --gutter-size-small: 2.5rem;

    @include tablet {
        --gutter-size: 40px;
        --gutter-size-small: 20px;
    }
    @include mobile {
        --gutter-size: 20px;
        --gutter-size-small: 10px;
    }

}

html::-webkit-scrollbar {
    width: 8px;
}
html::-webkit-scrollbar-thumb {
    background-color: #2f3542; 
    border-radius: 10px;
}

.pc-only{
    @include tablet {
        display: none !important;
    }
}

.tb-show{
    display: none !important;
    @include tablet {
        display: block !important;
    }
}

.mo-only{
    display: none !important;
    @include mobile {
        display: block !important;
    }
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    white-space: nowrap;
}

.scroll-lock {
    height: 100%;
    min-height: 100%;
    overflow:hidden;
    touch-action:none;
}