@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

/* Happy Time */
@font-face {
  font-family: 'HappyTime';
  font-weight: normal;
  src: url('../fonts/HappyTime.woff') format('woff');
}