.sec{
    & > [class$=__inner],
    & > [class*=__contents] {
        position: relative;
        max-width: 1440px;
        margin:0 auto;
        width:95%;
    }

    h2{
        font-size: 3.75rem;
        font-weight: 800;

        @include tablet {
            font-size: 3.6667em;
        }

        @include tablet {
            font-size: 3.1429rem;
        }
    }
}

.intro{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100svh;
    background-color: $color-black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &__logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(850 / 1920* 100vw);
        min-width: 170px;
        height: calc(205 / 1920* 100vw);
        min-height: 41px;
        z-index: 2;

        &-ico{
            position: absolute;
            width: calc(150 / 1920* 100vw);
            min-width: 30px;
            visibility: hidden;
        }
        &-text{
            position: absolute;
            right:0;
            opacity: 0;
            width: calc(696 / 1920* 100vw);
            min-width: 140px;
        }
    }

    &__bg{
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 1;

        &-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-overlay{
            position: absolute;
            top: 0;
            left: 0;
            width:100%;
            height:100%;
            background-color: $color-black;
        }
    }
}


.hero{
    background-color: $color-navy;
    height: 100svh;

    &__contents{
        padding-top: max(13.5vh, 65px);
        padding-bottom: 2.5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        visibility: hidden;
        max-width: 95% !important;

        @include tablet {
            padding:0;
            justify-content: center;
        }

        @include mobile {
            padding-bottom: 20vh;
        }
    }

    &__title-wrap{
        position: relative;
        font-size:1.5625rem;
        font-weight: 500;

        @include laptop {
            font-size: 1.25rem;
        }

        @include tablet {
            font-size: 1rem;
        }

        .hero__badge{
            padding-left: 17vw;
        }
        
        .hero__title{
            font-size:19.1vw;
            font-weight: 900;
            line-height: 0.74;
            letter-spacing: -0.025em;
            padding: 1.375rem 0;

            @include tablet {
                padding: 1rem 0;
            }
    
            span{
                font-size:0.6em;
                vertical-align: top;
                padding-left: 0.5rem;
            }
        }

        .hero__desc{
            @include mobile {
                margin-left: 0.5rem;
            }
        }

        .hero__img-wrap{
            font-size: 1.0625rem;
            position: absolute;
            top: 21vh;
            right: 11vw;
            
            @include laptop {
                font-size:1rem;
            }

            @include tablet {
                top: 23vh;
                right: 0;
            }
            @include mobile {
                top: 20vh;
            }
    
            .hero__img-box{
                overflow: hidden;
                width: calc(350 / 1920* 100vw);
                height: calc(300 / 1920* 100vw);
                min-width: 140px;
                min-height: 116px;

                img{
                    width:100%;
                    height:100%;
                    object-fit: cover;
                }
            }
    
            .hero__img-desc{
                margin-top: 5px;
                line-height: 1.3;
                width: calc(350 / 1920* 100vw);
                min-width: 140px;

                @include laptop {
                    font-size: 0.875rem;
                }
                strong {
                    font-weight: 700;
                }
                p {
                    font-family: $font-serif;
                }
            }
        }
    }

    &__text{
        font-size: 3rem;
        max-width: 450px;
        align-self: flex-start;
        margin-left: 8vw;
        line-height: 1.2;
        letter-spacing: -0.025em;

        @include laptop {
            max-width: 380px;
            font-size: 2.5rem;
            margin-left: 2.5rem;
        }

        @include tablet {
            max-width: 250px;
            font-size: 2rem;
            margin-top: max(3vh, 40px);
            margin-left: 1.25rem;
        }

        @include mobile {
            max-width: 140px;
            font-size:1.0714rem;
            margin-top: 1.5rem;
            margin-left: 0.8rem;
        }
    }

    &__scroll{
        position: absolute;
        bottom: 2.5rem;
        text-align: center;

        @include mobile {
            bottom: 1.5rem;
        }

        &-ico {
            display: inline-block;
            padding: 1.25rem 0.625rem;
            border-radius: 30px;
            border: 1px solid #92979b;
            margin-bottom: 0.4rem;

            @include mobile {
                padding: 1rem 0.61rem;
                margin-bottom: 0;
            }

            span{
                display: block;
                width: 7px;
                height: 7px;
                border: 1px solid #92979b;
                border-top: none;
                border-right: none;
                transform: rotate(-45deg);
                margin: 0 auto;
                animation: opacity 2s infinite;

                &:nth-child(2){
                    animation-delay: 0.5s;
                }
                &:nth-child(3){
                    animation-delay: 1s;
                }
            }
        }

        &-text{
            color: #757a82;
            font-size: 0.8125rem;
        }
    }

    &__promotion-btn{
        position: absolute;
        right:10vw;
        bottom: 2.5rem;
        display: flex;
        @include circleBtn;

        @include laptop {
            right: 0.5rem;
            bottom: 1.25rem;
        }

        span {
            @include tablet {
                font-size: 14px;
            }
            @include mobile{
                font-size: 12px;
            }
        }
        
    }

    &__video-bg{
        position: absolute;
        top: 16vh;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transition: all 0.5s;
        filter: brightness(0.4);
        z-index: 1;

        &.active {
            top:0;
        }

        @include laptop {
            top:0;
        }

        video {
            width: 100%;
            height:100%;
            object-fit: cover;
        }
    }
}


.info {
    &__bg{
        height:100vh;
        position: sticky;
        top:0;
        z-index: 1;

        &-img {
            width:100%;
            height:100%;
            object-fit: cover;
        }
    }

    &__contents{
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &--top{
            padding-bottom: 50vh;

            .info__title{
                font-weight: 200;
            strong{
                font-weight: 600;
            }
            }
        }

        &--btm{
            padding-bottom: 3.75rem;

            .info__title{
                position: relative;
                line-height: 1.8;
                padding-bottom: 2.5rem;

                @include mobile {
                    padding-bottom: 1.5rem;
                }
            }
        }
    }

    &__title{
        font-size: 3rem;
        max-width: 940px;

        @include laptop {
            font-size: 2.5rem;
            max-width: 800px;
        }

        @include tablet {
            font-size: 2rem;
            max-width: 580px;
        }

        @include mobile {
            font-size: 1.35em;
        }

        &-line{
            position: absolute;
            bottom: 0;
            right: 3%;

            @include mobile {
                right:0;
            }

            svg{
                width:320px;
                height:100%;

                @include tablet {
                    width: 180px;
                }

                @include mobile{
                    width: 100px;
                }
                
                line{
                    fill: none;
                    stroke: $color-white;
                    stroke-linecap: round;
                    stroke-miterlimit: 10;
                    stroke-width: 3px;
                }
            }
        }
    }

    &__text{
        margin-top: 3.75rem;
        font-size: 1.125rem;
        color: #a1a1a1;
        max-width: 840px;

        @include laptop {
            max-width: 400px;
        }

        @include tablet {
            font-size: 1rem;
        }

        @include tablet {
            margin-top: 1.7rem;
        }

        &--info{
            font-size: 1rem;
            line-height: 1.8;
            margin-top: 6.875rem;

            @include laptop {
                max-width: 840px;
            }

            @include tablet {
                max-width: 510px;
                margin-top: 4.6667rem;
            }

            @include tablet {
                font-size: 10px;
            }
        }
    }  

    &__award{
        width: 100%;
        margin-top: 5rem;

        &-title{
            font-size: 1.5rem;
            letter-spacing: -0.025em;
        }

        &-list{
            max-width: 850px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            margin-top: 2.875rem;
            gap: 5rem;
            width:100%;
            
            @include tablet {
                display: block;
                font-size:0;
            }
        }

        &-item{
            text-align: center;

            @include tablet {
                display: inline-block;
                width: 33.3%;
                font-size: 1rem;
                margin-bottom: 2rem;
                vertical-align: top;
            }

            .info__award-img-box{
                @include mobile {
                    padding: 0 18%;
                }
            }

            .info__award-name{
                line-height: 1.4;
                color: #7e7e7e;
                max-width: 100px;
                margin-top: 1.25rem;
                display: inline-block;

                @include mobile {
                    margin-top: 0.5rem;
                }
            }

            &:nth-child(3) {
                .info__award-name{
                    max-width:120px;
                }
            }
        }
    }
}


.func {
    &__bg{
        height:100vh;
        position: sticky;
        top:0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        &-img{
            width: calc(1007 / 1920* 100vw);
            height: calc(672 / 1920* 100vw);
            max-width: unset;
            object-fit: cover;
            filter: brightness(0.3);
        }
    }

    &__contents{
        padding-bottom: 10rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        @include tablet {
            padding-bottom: 15rem;
        }

        .func__title{
            font-size: 4.375rem;
            margin-bottom: 5rem;
            text-align: right;
            font-weight: 200;

            @include laptop {
                font-size: 3.75rem;
            }
            @include tablet {
                margin-bottom: 2.5rem;
            }
            @include mobile {
                font-size: 2.5em;
            }

            > span:first-child {
                display: block;
                padding-right: 25rem;

                @include tablet {
                    padding-right: 0;
                }
            }

            > span:last-child{
                font-weight: 600;
                padding-right: 2.125rem;

                @include tablet {
                    padding-right: 0;
                }
            }

            &-line{
                display: inline-block;
                width: 140px;
                height: 6px;
                vertical-align: middle;
                background-color: $color-white;
            }
        }

        .func__desc{
            font-size: 1.125rem;
            color: #c6d0d4;
            max-width: 690px;

            @include laptop {
                font-size: 1rem;
            }
            @include tablet {
                text-align: right;
                max-width: 420px;
            }
        }

        .func__list-wrap{
            align-self: flex-start;
            max-width: 1200px;
            width: 100%;
            margin: 6.25rem auto 0;

            @include laptop {
                max-width: 100%;
                padding: 0 1.875rem;
            }
            @include mobile {
                padding: 0 2.5%;
            }

            .func__list-title{
                font-size: 1.125rem;
                color: #ff7e00;
                font-weight: 500;
                margin-bottom: 1.875rem;

                @include tablet {
                    margin-bottom:1.2rem;
                }

                @include mobile {
                    margin-bottom:0.8rem;
                }
            }

            .func__list{
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include tablet {
                    justify-content: flex-start;
                    gap: 1.2rem;
                    flex-wrap: wrap;
                }
                @include mobile {
                    gap: 0.8rem;
                }

                .func__item{
                    font-size: 1.375rem;
                    font-weight: 500;
                    padding:0.5rem 2.8125rem;
                    border: 1px solid $color-white;
                    border-radius: 3.125rem;

                    @include laptop {
                        font-size: 1.125rem;
                        padding:0.5rem 2rem;
                    }

                    @include tablet {
                        font-size: 1rem;
                        padding: 0.4rem 1.5rem;
                    }
                }
            }
        }
    }
}

.solution {
    position: relative;
    background-color: $color-primary;
    
    @include tablet {
        padding-top: 6.6rem;
        padding-bottom: 10rem;
    }

    &__title-wrap{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100vh;
        padding: 6vw 9.35vw;
        z-index: 2;

        @include tablet {
            position: relative;
            padding: 0 2.5%;
            height:auto;
        }
        
        .solution__title{
            font-size: 3.4375rem;
            font-weight: 800;

            @include laptop {
                font-size: 2.25rem;
            }
            @include mobile {
                br{
                    display: none;
                }
            }
        }
    
        .solution__badge{
            display: inline-block;
            font-size: 1.125rem;
            border: 1px solid $color-white;
            padding: 0.3125rem 1.25rem;
            border-radius: 30px;
            margin-top: 3.75rem;

            @include laptop {
                font-size: 1rem;
                margin-top: 2.5rem;
            }
        }
    
        .solution__desc{
            margin-top: 1.125rem;
            font-size: 1.125rem;
            max-width: 420px;
            color: #d2dee8;

            @include laptop {
                font-size: 1rem;
            }
        }
    }

    &__img-wrap{
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        overflow: hidden;

        @include tablet {
            position: absolute;
            padding-top:120px;
        }

        .solution__img-inner {
            position: relative;
            width: calc(1190 / 1920* 100vw);
            height: calc(570 / 930* 100vh);
            background-color: $color-navy;
            overflow: hidden;
            border-radius: 2.5rem;

            @include tablet {
                position: absolute;
                width: 50vw;
                height: 50vw;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .solution__img-box{
                position: absolute;
                top: calc(50% + (50 / 930* 100vh));
                right: calc(50% + (50 / 1920* 100vw));

                @include tablet {
                    position: unset;
                }

                img{
                    width: calc(650 / 1920* 100vw);
                    max-width: unset;

                    @include tablet {
                        width: 380px;
                    }
                    @include tablet {
                        width: 200px;
                    }
                }
            }
        }
    }

    &__text-wrap{
        position: relative;
        z-index: 3;
        padding: 100vh 9.2vw 40vh calc(50% + 10vw);

        @include tablet {
            padding: 450px 2.5% 0;
        }

        @include tablet {
            padding-top: 300px;
        }

        .solution__merit {
            &-item{
                font-size: 2rem;
                font-weight: 200;
                line-height: 1.4;
                opacity: 0.2;
                margin-bottom: 12.5rem;

                @include laptop {
                    font-size: 1.5rem;
                }
            }
        }

        .solution__reason{
            @include tablet {
                max-width: 580px;
            }
            &-title{
                font-size:2rem;

                @include laptop {
                    font-size: 1.5rem;
                }
                @include tablet {
                    font-size: 2rem;
                }
                @include tablet {
                    font-size: 1.5rem;
                }
            }
            &-desc{
                font-size: 1.375rem;
                line-height: 2;
                margin-top: 0.625rem;

                @include laptop {
                    font-size: 1.125rem;
                }

                @include laptop {
                    font-size: 1.5rem;
                    line-height: 1.6;
                }

                @include laptop {
                    font-size: 1.25rem;
                }
            }
        }
    }
}


.effect{
    position: relative;
    background:url(../images/s4_img.jpg) no-repeat left top / cover;
    height: 100vh;

    &:before{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__inner{
        z-index: 2;
        height: 100%;
    }

    &__item{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &-logo{
            overflow: hidden;
            &--big{
                max-width: 50%;
            }
            img{
                display: block;

                @include mobile {
                    width:130px;
                }
            }

            &--big{
                @include mobile {
                    max-width:80%;
                    img{
                        width: 100%;
                    }
                }
            }
        }

        &-text{
            font-size:3rem;
            font-weight: 200;
            margin-top: 1.5625rem;
            overflow: hidden;

            @include laptop {
                font-size: 2.375rem;
            }
            @include mobile {
                font-size: 1.5em;
            }

            > span {
                overflow: hidden;
            }

            strong{
                font-weight: 500;
            }

            span{
                display: block;
            }
        }
    }

    &__nav{
        position: absolute;
        top: 13.5vh;
        right:0;
        text-align: right;

        &-num{
            font-size: 1.125rem;
            font-weight: 500;
            margin-bottom: 0.75rem;
            line-height: 1;
        }
        
        &-bar{
            display: block;
            height: 2px;
            width: 25px;
            background-color: $color-white;
            margin-bottom: 0.75rem;
            transform-origin: right center;
            margin-left: auto;
            transition: width 0.5s;
        }
    }
}

.promotion {
    position: relative;
    overflow: hidden;
    height:100vh;
    background-color: $color-navy;

    @include tablet {
        height: auto;
    }

    &__marquee{
        position: absolute;
        display: flex;
        animation: marquee 8s infinite linear;
        gap: 4vw;

        &--top{
            top:9vh;
            z-index: 3;
            @include tablet {
                top: 3%;
            }
        }

        &--btm{
            bottom:16vh;
            animation-direction:reverse;
            z-index: 1;

            @include tablet {
                bottom: unset;
                top: 40%;
            }
        }

        &-text{
            flex-shrink: 0;
            font-size: 8vw;

            @include tablet {
                font-size: 12vw;
            }

            &--line{
                -webkit-text-stroke: 1px $color-white;
                color: transparent;
                opacity: 0.5;
            }
        }
    }

    &__img-wrap{
        position: relative;
        z-index: 2;
        height:100%;

        @include tablet {
            width:80%;
        }

        img {
            display: block;
            height:100%;
            object-fit: cover;
            @include tablet {
                width:100%;
            }
        }
    }

    &__video-box{
        position: absolute;
        z-index: 4;
        bottom: 10vh;
        right: 11vw;
        width: calc(700 / 1920* 100vw);
        height: calc(394 / 1920* 100vw);
        border-radius: 1.5625rem;
        overflow: hidden;

        @include tablet {
            position: relative;
            width:100%;
            height:100%;
            border-radius: 0;
            right:unset;
            bottom:unset;
        }

        video{
            width:100%;
            height:100%;
        }
    }
}

.contact{
    &__inner{
        padding-top: 15rem;

        @include mobile {
            padding-top: 11rem;
        }
    }

    &__row{
        position: relative;
        display: flex;
        align-items: center;
        @include tablet {
            flex-direction: column;
        }
    }

    &__text-box{
        width: calc(100% - 480px);

        @include tablet {
            width: 100%;
            text-align: center;
        }

        .contact__title{
            font-size: 7.5rem;
            margin-bottom: 4rem;
            letter-spacing: -0.025em;
            line-height: 1;

            @include laptop {
                font-size: 5.625rem;
                margin-bottom: 3.5rem;
            }

            @include tablet {
                display: inline-block;
                font-size: 4em;
                max-width: 400px;
                margin-bottom: 2rem;
            }

            @include mobile {
                font-size: 2.7143em;
                max-width: 300px;
                margin-bottom: 1.8rem;
            }

            .font-serif{
                color: $color-primary;
            }
        }

        .contact__text{
            font-size: 1.25rem;

            @include tablet {
                font-size: 1rem;
            }
        }
    }

    &__img-box{
        width: 480px;
        height: 363px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
        
    &__btn{
        position: absolute;
        @include circleBtn(163px);
        top: 17.75rem;
        right: 7.5rem;

        @include tablet {
            position:unset;
            width: 140px;
            height:140px;
            margin-top: 3rem;
        }

        @include mobile {
            width:120px;
            height:120px;
        }

        span{
            @include tablet {
                font-size: 1rem;
            }
        }
    }

    &__search {
        margin-top: 13.125rem;
        display: flex;
        justify-content: center;
        align-items: stretch;

        @include tablet {
            margin-top: 4rem;
        }

        @include mobile{
            margin-top: 3rem;
        }

        &-box{
            display: flex;
            height: 76px;
            line-height: 70px;
            max-width: 920px;
            width: calc(100% - 86px);
            border: 3px solid $color-primary;
            border-radius: 10px;
            background-color: $color-white;

            @include mobile {
                height:45px;
                line-height: 42px;
            }
        }

        &-filter{
            position: relative;
            letter-spacing: -0.025em;
            color: #a0a0a0;
            width: 150px;
            height: 100%;
            text-align: center;

            @include mobile {
                width:80px;
                font-size: 12px;
            }

            &:before{
                content: "";
                position: absolute;
                display: block;
                width: 1px;
                right: 0;
                height: 80%;
                top: 10%;
                background-color: #c0c0c0;
            }

            &:after{
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 7px solid #c0c0c0;
                transform: translateY(-2px);
                margin-left: 0.9375rem;
                
                @include mobile {
                    margin-left: 5px;;
                }
            }
        }

        &-text{
            display: inline-block;
            font-size: 1.25rem;
            font-weight: 700;
            color: $color-black;
            padding-left: 2.5rem;
            width: calc(100% - 150px);

            @include mobile {
                font-size:1rem;
                padding-left: 1rem;
            }
        }

        &-ico{
            width: 76px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: $color-primary;
            border-radius: 10px;
            margin-left: 10px;

            @include mobile {
                width:45px;
                img {
                    width: 20px;
                }
            }
        }
    }
}

.media{
    overflow: hidden;

    &__inner{
        padding-top: 11.875rem;
        padding-bottom: 8.75rem;

        @include tablet {
            padding-bottom: 6.6667em;
        }
    }

    &__board{
        margin-top: 1.2rem;
        display: flex;
        align-items: flex-end;
        width: calc(100% + 236px);
        gap: 8.5rem;

        @include laptop {
            width: 100%;
            flex-direction: column;
            gap: 3.5rem;
        }
        @include mobile{
            gap: 2.8rem;
        }

        &-list{
            width:900px;

            @include laptop {
                width: 100%;
            }
        }

        &-item{
            a{
                display: block;
                padding-bottom: 1.875rem;
                padding-top: 3.125rem;
                border-bottom: 1px solid rgb(90, 90, 90);
            }

            .media__board-kate{
                display: inline-block;
                padding:0.5625rem 1rem 0.4375rem;
                font-size: 0.875rem;
                border-radius: 30px;
                background-color: dodgerblue;
                line-height: 1;
            }

            .media__board-title{
                font-size: 1.375rem;
                margin-top: 1.125rem;
                margin-bottom: 0.9375rem;
                line-height: 1.2;
                @extend %ellipsis;

                @include mobile {
                    font-size: 1.1429rem;
                }
            }

            .media__board-text{
                color: rgb(163, 163, 163);
                margin-bottom: 1.625rem;
                @extend %ellipsis;
            }

            .media__board-num{
                font-size: 0.875rem;
                color: rgb(97, 97, 97);
                line-height: 1;
                @extend %ellipsis;
            }

            %ellipsis{
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        &-thum{
            width:640px;

            @include laptop {
                width: 100%;
            }

            &-box{
                position: relative;
                height:0;
                padding-bottom: calc(80%);
                overflow: hidden;

                @include laptop {
                    display: none;
                }

                img{
                    position: absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center top;
                }
            }

            .media__board-btn{
                margin-top: 3.5rem;

                @include laptop {
                    text-align: right;
                    margin-top: 0;
                }

                a{
                    font-size: 1.25rem;
                    transition: color 0.5s;

                    &:hover{
                        color:rgb(255, 144, 0);
                    }
                }
            }
        }
    }
}

.sns{
    padding-top: 8.75rem;
    overflow: hidden;

    @include tablet {
        padding-top: 6.6667em;
    }

    &__title{
        margin-bottom: 4.375rem;
    }

    &__swiper.swiper{
        overflow: visible;
    }

    &__img-box{
        width:100%;
        aspect-ratio: 1 / 1;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__text{
        font-size: 1.125rem;
        line-height: 1;
        margin-top: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        @include mobile {
            font-size: 1rem;
        }
    }
}

.outro{
    padding: 11.25rem 0;
    overflow: hidden;

    &__marquee{
        display: flex;
        animation: marquee 8s infinite linear;
        
        span{
            font-size: 10vw;
            flex-shrink: 0;
            line-height: 1;
            font-weight: 800;

            @include tablet {
                font-size: 6.6667em;
            }
        }
    }

    &__text{
        font-size: 1.25rem;
        font-weight: 500;
        margin-top: 4.375rem;

        @include tablet {
            font-size: 1.0667em;
            color: #777;
            margin-top: 2rem;
        }
    }

    .top-btn{
        position: absolute;
        right: 0;
        top: 12vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 125px;
        height: 125px;
        color: $color-primary;
        border: 1px solid $color-primary;
        border-radius: 50%;
        animation: bounce infinite forwards 3s;
        transition: all 0.3s;
        filter: grayscale(100%) brightness(400%);

        @include tablet {
            top: 125px;
        }
        @include mobile{
            top: 200px;
        }

        &:hover{
            filter: grayscale(0) brightness(100%);
        }

        @include laptop {
            width: 100px;
            height: 100px;
        }

        @include mobile {
            width: 80px;
            height: 80px;
        }

        img{
            @include tablet {
                width: 12px;
            }
        }
        span{
            margin-top: 0.375rem;
        }
    }
}